
services:
  backend:
    build:
      context: https://github.com/machi-cu-68-1/p01-inventory.git
      dockerfile_inline: |
        FROM node:20-alpine
        WORKDIR /app

        COPY package*.json ./
        RUN npm ci --only=production

        COPY . .

        RUN cat > config/config.env

        EXPOSE 5000
        ENTRYPOINT ["node", "./server.js"]
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=production
      - MONGO_URI=mongodb://database:27017/
      - JWT_SECRET=your_jwt_secret_key
      - JWT_EXPIRE=365d
      - JWT_COOKIE_EXPIRE=365
      - FRONTEND_URL=http://localhost:3000
    restart: unless-stopped
    depends_on:
      - database

  database:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - swdev2_data:/data/db
    restart: unless-stopped

volumes:
  swdev2_data:

