.banner {
    display: block;
    padding: 5px;
    margin: 0 calc(-50vw + 50%);
    width: 100vw;
    height: 80vh;
    position: relative;
}

.bannerText {
    position: relative;
    top: 100px;
    z-index: 20;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 8px rgba(0,0,0,0.8), 0 0 2px #000, 0 1px 1px #000;
}